# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\framework\git_test02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
